{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "bracketSameLine": false
}
